@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --black: #12130F;
    --white: #FBFEFB
}

body {
    font-family: var(--font-family), sans-serif;
    background-color: var(--white);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1.5rem;

    form {
        width: 50%;
        gap: 1rem;

        div {
            width: 100%;
            margin: 0 auto;
        }
    }

    .form__actions {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

.error {
    color: red;
}

.buttons {
    display: flex;

    &_container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin: 0.2rem 0;
    }
}

.delete-dialog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--black);
    }

    &__description {
        font-size: 1rem;
        color: var(--black);
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}